<!doctype html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyStudyPlatform</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">My Study Platform</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>

<!-- <------------ If a user is logged in then he will see these options------------> -->
          {% if request.user.is_authenticated %}
<!-- <------------If the user is a creator -----------------> -->
          {% if request.user.creator %}
          <li class="nav-item mx-3 mt-1">
            <a class="btn btn-outline-warning py-1" href="{% url 'logoutuser' %}">Logout</a>
          </li>
          <li class="nav-item mx-3 mt-1">
            <a class="btn btn-outline-info py-1" href="{% url 'createcourse' %}">Create Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Login as:-{{request.user.username}}</a>
          </li>
          {% else %}
<!-- <---------------If a user is  logged in he is a Reader then  he will see these options ------------> -->
          <li class="nav-item mt-1">
            <a class=" btn btn-outline-warning" href="{% url 'logoutuser' %}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Login as:-{{request.user.username}}</a>
          </li>
          {% endif %}
<!-- <----------------------------If a user is not logged in ---------------------> -->
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Register Here
            </a>
            <ul class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown" style="width: fit-content ;">
              <li class="nav-item">
                <a class="nav-link fw-bold" aria-current="page" href="{% url 'loginuser' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" href="{% url 'signin' %}">Signup</a>
              </li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- <-------------Message ----------------->
    {% if messages %}
    <ul class="messages custom-message my-1" style="line-height: 15px;">
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert" data-bs-interval="2000">
            <strong>{{message.tags}} :- </strong>{{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> {% endfor %}
    </ul>
    {% endif %}

 

  {% block body %}
  {% endblock body %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>